@import "@/styles/globals.scss";

.socialCard {
  @extend .cardContainer;
  background-image: url("/images/map.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2%;

  .linksContainer {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
}
.newsLetterCard {
  @extend .cardContainer;
  text-align: center;
  padding: 5%;

  .actionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    gap: 10px;
    button {
      width: 50%;
      background-color: var(--success);
      color: white;
      border-color: var(--success);
      &:hover {
        background-color: var(--success-dark);
        border-color: var(--success-dark);
      }
    }
  }
}

.blogsContainer{
  display: flex;
  flex-direction: column;
}