.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  .leftContainer {
    width: 100%;
    padding: 0 2%;
  }
  .rightContainer {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 50%;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }
}
